*.jou
*.log
*.str
lowrisc-chip-imp
lowrisc-chip-imp-old
vivado_pid*
*~
DVEfiles
.nodeIdDynamicRanges
generated-src
ramb_result.txt
boot.bmm
*.o
*.d
*.a
*.hex
*.dump
*.riscv
ramfs
boot*.bin
test*.bin
examples
.Xil
.cxl.vcs_mx.version
.vlogansetup.args
README.txt
compile_simlib/
logfile
synopsys_sim.setup
vcs/
cnvmem
cnvmem.coe
cnvmem.mem
